#equipment {
    margin-bottom: 140px;
}
#equipment .container {
}
#equipment .category {
}
#equipment .item {
    position: relative;
    height: 250px;
    padding: 0;
    margin-bottom: 30px;
}
.-space-between{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Equipment-settings*/
    .equipment-settings{
        width: 270px;
    }
    .equipment-settings .chevron{
        float: right;
        color: #dcdcdc;
        font-size: 14px;
        padding-top: 5px;
    }
    .equipment-settings__block{
        border: solid 1px #d5d5d5;
        padding: 27px 20px;
    }
    .equipment-settings__block p{
        margin: 0;
    }
    .equipment-settings__block .content-block{
        display: flex;
        flex-wrap: wrap;
    }
    .equipment-settings__block .content-block.hidden-block{
        display: none;
        overflow: hidden;
    }
    .equipment-settings__block .collapsing_content-block{
        cursor: pointer;
    }
    .equipment-settings__block .content-block{
        margin-top: 16px;
    }
    .equipment-settings__block__color .title{
        margin-top: 15px;
    }
        

    /*Checkbox size*/
    .-bottom-border{
        border-bottom: solid 1px #dddddd;
        padding-bottom: 10px;
    }
    .check-size{
        min-width: 40px;
        width: auto;
        height: 30px;
        border-radius: 4px;
        border: solid 1px #dcdcdc;
        margin-right: 5px;
        text-align: center;
        padding: 5px 9px;
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #9b9b9b;
        margin-bottom: 8px;
        cursor: pointer;
    }
    .check-size.checked{
        background-color: #aad357;
        border-color: #aad357;
        color: #fff;
    }
    /*end Checkbox size*/

    /*Checkbox color*/
    .check-color{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .check-color.-grey-border{
        border: solid 1px #dddddd;
    }
    .checkbox-invisible{
        opacity: 0;
        width: 17px;
        height: 16px;
        margin: 0;
        border-radius: 50%;
        background-color: #fff;
        color: #000;
        padding: 2.5px;
        margin-right: -1px;
        margin-top: 1px;
        font-size: 12px;
    }
    .check-color.checked .checkbox-invisible{
        opacity: 1;
    }
    /*end Checkbox color*/
    
    .checkbox-hide{
        display: none;
        width: auto;
    }

/*Equipment-category*/
.wrapper-equipment-category{
    width: calc(100% - 270px - 21px);
}
    .equipment-category{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .equipment-category .item{
        width: calc(100% / 3 - 14px);
        margin-right: 21px;
        height: 449px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 22px;
        border: 1px solid transparent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .equipment-category .item:nth-child(3n){
        margin-right: 0;
    }
    #equipment .item:hover:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #7bdb12;
        opacity: 0.7;
    }
    #equipment .item img {
        height: 100%;
        object-fit: cover;
    }
    #equipment .category .item .title {
        position: absolute;
        bottom: 0;
        height: 60px;
        width: 100%;
        padding: 16px 15px;
        color: #fff;
        font-family: OpenSans-Bold;
        font-size: 20px;
        z-index: 2;
        transition: 0.5s;
    }
    #equipment .category .item:hover .title{
        bottom: 37%;
        transition: 0.5s;
    }
@media(max-width:991px){
    .equipment-category .item{
        height: 420px;
    }
}
@media(max-width:900px){
    .equipment-category .item{
        width: calc(100% / 2 - 14px);
    }
    .equipment-category .item:nth-child(3n){
        margin-right: 21px;
    }
    .equipment-category .item:nth-child(2n){
        margin-right: 0;
    }
}
@media(max-width:768px){
    .equipment-category .item{
        height: auto;
    }
    .equipment-category .item img{
        height: auto;
    }
}
@media(max-width:700px){
    .equipment-settings, .wrapper-equipment-category{
        width: 100%;
    }
}
@media(max-width:400px){
    .equipment-category .item{
        padding: 10px;
        width: calc(100% / 2 - 5px);
        margin-right: 10px;
    }
    .equipment-category .item:nth-child(3n){
        margin-right: 10px;
    }
    .equipment-category .item:nth-child(2n){
        margin-right: 0;
    }
}