*{
    box-sizing: border-box;
    outline: none;
}

HTML, body{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: $primary-font-bold;
}

h1{
    font-size: 58px;
    font-weight: 400;
    color: $text-white;
    letter-spacing: 1.1px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 36px;
    color: $text-black;
}

p{
    font-family: $secondary-font;
}

a{
  text-decoration: none;
}

hr{
    border: solid 1px #ebebeb;
}

button{
  cursor: pointer;
}
label{
    display: block;
    width: 100%;
    margin-bottom: 13px;
    font-family: $secondary-font;
    font-size: 14px;
    color: $text-black;
}
input, textarea{
    width: 100%;
    @extend %border-block;
    font-family: $secondary-font;
    font-size: 14px;
    color: $text-black;
    padding: 10px 16px;
}
input{
    height: 44px;
    margin-bottom: 5px;
}
.error{
    display: block;
    background-color: #f8e5e7;
    width: 100%;
    height: 24px;
    color: #d0021b;
    font-size: 12px;
    font-family: $secondary-font;
    padding: 4px 6px;
    visibility: hidden;
    margin-bottom: 5px;
}
::placeholder{
    color: $text-light-grey
}

.fa-times{
    cursor: pointer;
}

.container{
    width: 1170px;
    margin: auto;
}

.text-center{
    text-align: center;
}

.caption{
    font-family: $primary-font-bold;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.9px;
    color: $text-black;
    text-transform: uppercase;
}

.price{
    position: relative;
    font-family: $secondary-font-bold;
    font-size: 24px;
    color: #000;
    text-align: center;
    margin: 20px 0;
    &:after{
        content: "грн";
        position: absolute;
        right: -30px;
        top: 12px;
        font-size: 12px;
        color: #9b9b9b
    }
}

.go-over_link{
    display: block;
    width: 100%;
    height: 56px;
    background-color: $bg-color-primary;
    color: #fff;
    font-size: 18px;
    font-family: $secondary-font;
    text-align: center;
    line-height: 3.2;
    text-decoration: none;
}
.see-all_link{
    display: block;
    text-align: center;
    font-family: $secondary-font;
    color: $text-green;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

//Pagination
.pagination{
    @extend %ul-inline-not-dots;
    @extend %flex-center;
    margin-bottom: 36px;
    li{
        width: 47px;
        height: 47px;
        margin: 0 9px;
        padding: 13px;
        text-align: center;
        border-radius: 50%;
        a{
            color:#000;
            text-decoration: none;
            font-family: $secondary-font;
            font-size: 16px;
        }
        &.active{
            background-color: $bg-color-primary;
            a{
                color: #fff;
            }
        }
    }
}

//Counter
.counter{
    @extend %border-block;
    @extend %flex-around-center;
    width: 170px;
    height: 44px;
    border-radius: 4px;
    margin: 25px 0 28px;
    color: $text-light-grey;
    font-family: Roboto-Regular;
    font-size: 16px;
    .minus, .plus{
        cursor: pointer;
        padding: 12px 22px;
        -moz-user-select: none; /* Mozilla Firefox */
        -ms-user-select: none; /* Internet Explorer (не поддерживается) */
        -o-user-select: none; /* Opera Presto (не поддерживается) */
        -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
    }
    input{
        padding: 6px 0;
        margin: 0;
        width: 50px;
        text-align: center;
        border: 0;
        height: 90%;
        color: $text-light-grey;
        font-size: 16px;
    }
}
