%btn{
    display: block;
    width: 130px;
    margin: 0 auto;
    height: 44px;
    border-radius: 22px;
    font-family: $secondary-font;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.btn-primary{
    @extend %btn;
    background-color: #89c547;
    border: 1px solid $bg-color-primary;
    padding-top: 11px;
    padding-bottom: 11px;
    &:hover{

    }
}
.bth-transition{
    @extend %btn;
    background-color: transparent;
    border: 1px solid $bg-color-white;
    font-size: 16px;
    &:hover{

    }
}
