%flex-center{
    display: flex;
    justify-content: center;
}

%flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-between{
    display: flex;
    justify-content: space-between;
}

%flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%flex-around-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
%flex-center-center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

%ul-inline-not-dots{
    list-style-type: none;
    padding: 0;
    display: flex;
}

%border-block{
    border: solid 1px #d5d5d5;
}


%contact-form{
  
}
