@font-face{
    font-family:'Karmina-Regular';
    src: url(../fonts/Karmina-Regular.otf);
}

@font-face{
    font-family:'Karmina-Bold';
    src: url(../fonts/Karmina-Bold.otf);
}

@font-face{
    font-family:'OpenSans-Bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face{
    font-family:'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face{
    font-family:'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face{
    font-family:'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

/* untitled-font-1 */
@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#1530182501") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\61";
}
.icon-times:before {
  content: "\62";
}