footer{
    background-color: $bg-color-white;
    .container{
        .copyright{
            padding: 39px 0;
            text-align: center;
            margin: 0;
        }
    }
}

@media(max-width:480px){
    footer{
        .container{
            .copyright{
                padding: 15px 0;
            }
        }
    }
}