header{
    .container{
        height: 100px;
        @extend %flex-between-center;
        .logo{
            width: 82px;
            height: 82px;
        }
        .menu{
            display: flex;
            list-style-type: none;
            justify-content: center;
            width: calc(100% - 152px);
            li{
                font-family: $primary-font-bold;
                font-size: 30px;
                letter-spacing: 0.6px;
                border-bottom: 2px solid transparent;
                margin-left: 4%;
                margin-right: 4%;
                height: 44px;
                a{
                    color: $text-black;
                    text-decoration: none;
                    line-height: 1.4;
                }
                &:hover{
                    border-bottom: 2px solid $bg-color-primary;
                }
            }
        }
        .account{
            border: 1px solid transparent;
            background-color: transparent;
            color: #000;
            padding: 0;
            margin-right: 30px;
            img{
                width: 20px;
                height: 20px;
                margin-top: 2px;
            }
        }
        .cart{
            border: 1px solid transparent;
            background-color: transparent;
            color: #000;
            padding: 0;
            margin-top: -2px;
            display: flex;
            img{
                width: 24px;
                height: 24px;
            }
            span{
                width: 24px;
                height: 24px;
                font-size: 12px;
                font-family: $dop-font-bold;
                display: block;
                margin-left: 10px;
                padding: 6px;
                background-color: $bg-color-primary;
                color: #fff;
                border-radius: 50%;
                text-align: center;
            }
        }
    }
}

//Icon adaptive menu
.icon-bars, .icon-times{
    display: none;
    font-family: untitled-font-1;
    position: absolute;
    top: 42px;
    right: 125px;
    font-size: 22px;
    cursor:pointer;
}

//Breadcrumbs and caption on category and single page
.header-page{
    .container{
        border-top: solid 2px #ebebeb;
        .breadcrumbs{
            margin-top: 31px;
            @extend %ul-inline-not-dots;
            li{
                a{
                    font-family: $secondary-font;
                    font-size: 16px;
                    color: #000;
                    text-decoration: none;
                    margin-right: 10px;
                    &:after{
                        content: '/';
                        position: relative;
                        left: 5px;
                    }
                }

                &:last-child{
                    :after{
                        content: '';
                    }
                }
                &:hover{
                    a{
                        color: $text-green;
                        &:after{
                            color: #000;
                        }
                    }
                }
            }
        }
        .title{
            font-size: 30px;
            font-family: $primary-font-bold;
            margin-top: 15px;
            margin-bottom: 23px;
        }
    }
}
@media(max-width:767px){
    header{
        .container{
            position: relative;
            .logo{

            }
            .menu{
                display: none;
                position: absolute;
                top: 45px;
                z-index: 5;
                right: 120px;
                width: 160px;
                background: white;
                border-radius: 0 0 5px 5px;
                padding: 15px;
                li{

                    a{
                        color: $text-green;
                    }
                    &:hover{

                    }
                }
            }
            .icon-bars, .icon-times{
                display: block;
            }
            .account{
                position: absolute;
                right: 50px;
            }
            .cart{
                img{

                }
                span{

                }
            }
        }
    }
}
@media(max-width:480px){
    .icon-bars, .icon-times{
        top: 32px;
    }
    header{
        .container{
            height: 80px;
            .logo{
                width: 50px;
                height: 50px;
            }
            .menu{
                li{

                    a{

                    }
                    &:hover{

                    }
                }
            }
            .cart{
                img{

                }
                span{

                }
            }
        }
    }
    .header-page{
        .container{
            .breadcrumbs{
                display: flex;
                flex-direction: column;
                li{
                  a{
                    &:after{
                      display: none;
                    }
                  }
                }
            }
        }
    }
}
@media(max-width:375px){
    header{
        .container{
            .logo{

            }
            .menu{
                right: 80px;
                width: 150px;
            }
            .icon-bars, .icon-times{

            }
            .cart{

                img{

                }
                span{

                }
            }
        }
    }
}
