//Text color
$text-white:#fff;
$text-green:#89c547;
$text-black:#000;
$text-light-grey: #9b9b9b;

//Background-color
$bg-color-white:#fff;
$bg-color-primary:#89c547;

//Fonts family
$primary-font:'Karmina-Regular';
$primary-font-bold:'Karmina-Bold';

$secondary-font:'OpenSans-Regular';
$secondary-font-bold:'OpenSans-Bold';

$dop-font-bold: 'Roboto-Bold';
