#account-page{
    .container{
        border-top: solid 2px #ebebeb;
        padding-top: 42px;
        @extend %flex-between;
        .menu-account{
            background-color: $bg-color-primary;
            width: 270px;
            height: 270px;
            padding: 52px 62px;
            ul{
                list-style-type: none;
                padding: 0;
                margin: 0;
                li{
                    margin-bottom: 26px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    a{
                        text-decoration: none;
                        font-family: $secondary-font;
                        font-size: 16px;
                        color: #fff;
                    }
                    &.active{
                        a{
                            font-family: $secondary-font-bold;
                        }
                    }
                }
            }
        }
        .content-account{
            width: calc(100% - 270px - 30px);
            //Page PERSONAL
            &.personal{
              .title{
                font-family: $secondary-font-bold;
                font-size: 24px;
                margin-top: 0;
              }
                .contact-data{
                    @extend %flex-between;
                    .left-block, .right-block{
                        padding: 39px 0;
                        position: relative;
                    }
                    .left-block{
                        width:40%;
                        border-right: solid 1px #dddddd;
                        margin-right: 65px;
                    }
                    .right-block{
                        width:60%;
                    }
                    .contacts, .address{
                        height: auto;
                        td{
                          vertical-align: top;
                          font-size: 14px;
                          font-family: $secondary-font;
                          padding-bottom: 15px;
                        }

                        .strong{
                          width: 95px;
                          font-family: $secondary-font-bold;
                        }
                    }
                    .change{
                        font-size: 12px;
                        font-family: $secondary-font;
                        color: $text-light-grey;
                        text-align: center;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                    }
                }
                .change-password{
                    @extend %flex-between-center;
                    border-top: solid 1px #ebebeb;
                    margin-top: 21px;
                    padding-top: 34px;
                    p{
                      width: calc(100% - 270px - 30px);
                      font-size: 14px;
                    }
                    .btn-primary{
                      width: 270px;
                      margin-right: 0;
                    }
                }
            }

            //Page History
            &.history{
                .order{
                    margin-bottom: 20px;
                    .top{
                      @extend %flex-between;
                      list-style-type: none;
                      padding: 0;
                      margin: 0;
                      li{
                        padding: 14px 20px;
                        border: solid 1px #ebebeb;
                        font-size: 14px;
                        font-family: $secondary-font;
                        span{
                          font-family: $secondary-font-bold;
                        }
                        &:nth-child(1){
                          width:22%;
                        }
                        &:nth-child(2){
                          width: 48%;
                        }
                        &:nth-child(3){
                          width: 30%;
                        }
                      }
                    }
                    .info-order{
                        border: solid 1px #ebebeb;
                        padding: 50px 50px 29px;
                        .product{
                            @extend %flex-between-center;
                            height: 70px;
                            .wrapper{
                              display: flex;
                              align-items: center;
                              .image-product{
                                width: 70px;
                                height: 70px;
                                border: solid 1px #dddddd;
                                padding: 5px;
                                margin-right: 32px;
                                img{
                                  width: 100%;
                                  object-fit: cover;
                                }
                              }
                              .title-product{
                                  font-family: $secondary-font-bold;
                                  color: $text-green;
                                  width: 170px;
                                  text-decoration: underline;
                              }
                            }

                            .count-product{
                                font-family: $dop-font-bold;
                                text-align: center;
                            }
                            .price-product{
                                font-family: $dop-font-bold;
                                width: 20%;
                                text-align: right;
                            }
                        }
                        .payment-history{
                            p{
                                font-family: $secondary-font;
                                font-size: 14px;
                                border-bottom: solid 1px #dddddd;
                                padding: 16.5px 0;
                                span{
                                    font-family: $secondary-font-bold;
                                    float: right;
                                }
                                &:nth-child(3){
                                   border: none;
                                   margin-bottom: 0;
                                   padding-bottom: 8px;
                                }
                            }
                            .more-info-order{
                                font-size: 12px;
                                font-family: $dop-font-bold;
                                color: #00b8e5;
                                text-decoration: underline;
                            }
                        }
                    }
                    &:nth-child(n+2){
                      .info-order{
                        display: none;
                      }
                    }
                }
            }

            //Page SHARES
            &.shares{
                display: flex;
                flex-wrap: wrap;
                .share{
                    width: 270px;
                    height: 270px;
                    background-position: 50%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    padding: 19px 0;
                    margin-right: 30px;
                    margin-bottom: 30px;
                    .color-line{
                        width: 100%;
                        height: 58px;
                        background-blend-mode: multiply;
                        background-image: linear-gradient(#50e3c2, #50e3c2);
                        padding-left: 15px;
                        padding-right: 15px;
                        display: flex;
                        align-items: center;
                        .percent, .conditions{
                            color: #fff;
                        }
                        .percent{
                            font-family: $secondary-font-bold;
                            font-size: 40px;
                            margin-right: 11px;
                        }
                        .conditions{
                            font-family: $secondary-font;
                            font-size: 14px;
                        }
                    }
                    &:nth-child(3n){
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media(min-width:992px) and (max-width:1200px){
    #account-page{
        .container{
            .menu-account{
                width: 220px;
                height: 270px;
                padding: 52px 38px;
            }
            .content-account{
                width: calc(100% - 220px - 20px);
                //Page PERSONAL
                &.personal{
                    .contact-data{
                        .left-block, .right-block{
                            width: 50%;
                        }
                    }
                }

                //Page SHARES
                &.shares{
                    .share{
                        width: calc(100% / 3 - 14px);
                        margin-right: 20px;
                        .color-line{
                            .percent{
                                font-size: 36px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:991px){
    #account-page{
        .container{
            .menu-account{
                width: 220px;
                height: 270px;
                padding: 52px 32px;
                margin-bottom: 20px;
            }
            .content-account{
                width: calc(100% - 220px - 20px);
                //Page PERSONAL
                &.personal{
                    .contact-data{
                        .left-block, .right-block{
                            width: 50%;
                        }
                        .left-block{
                            margin-right: 30px;
                            padding-right: 10px;
                        }
                    }
                }
                //Page HISTORY
                &.history{
                    .order{
                        .top{
                          li{
                            padding: 14px 10px;
                            span{
                              display: block;
                            }
                          }
                        }
                        .info-order{
                            padding: 30px 20px 29px;
                            .product{
                                .wrapper{
                                    .image-product{
                                        margin-right: 15px;
                                    }
                                    .title-product{
                                        width: 130px;
                                    }
                                }
                            }
                        }
                    }
                }
                //Page SHARES
                &.shares{
                    .share{
                        width: calc(100% / 2 - 10px);
                        margin-right: 20px;
                        margin-bottom: 20px;
                        &:nth-child(2n){
                            margin-right: 0;
                        }
                        &:nth-child(3n){
                                margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:768px){
    #account-page{
        .container{
            .menu-account{
                width: 190px;
                height: 250px;
                padding: 40px 20px;
                margin-bottom: 20px;
            }
            .content-account{
                width: calc(100% - 190px - 20px);
                //Page PERSONAL
                &.personal{
                    .contact-data{
                        flex-direction: column;
                        .left-block, .right-block{
                            width: 100%;
                        }
                        .left-block{
                            border-right: 0;
                        }
                    }
                    .change-password{
                        flex-direction: column;
                        padding: 0;
                        p{
                          width: 100%;
                        }
                        .btn-primary{
                          margin: auto;
                        }
                    }
                }

                //Page SHARES
                &.shares{
                    .share{
                        height: 250px;
                        .color-line{
                            height: auto;
                            flex-direction: column;
                            align-items: flex-start;
                            padding-bottom: 10px;
                            .percent{
                                font-size: 32px;
                            }
                            .conditions{
                                br{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:600px){
    #account-page{
        .container{
            flex-direction: column;
            .menu-account{
                width: 100%;
                height: 250px;
                padding: 40px 25px;
                margin-bottom: 20px;
            }
            .content-account{
                width: 100%;
                //Page SHARES
                &.shares{
                    .share{
                        height: 250px;
                        .color-line{
                            height: auto;
                            flex-direction: column;
                            align-items: flex-start;
                            padding-bottom: 10px;
                            .percent{
                                font-size: 32px;
                            }
                            .conditions{
                                br{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:480px){
  #account-page{
      .container{
          .content-account{
              //Page HISTORY
              &.history{
                  .order{
                      .top{
                        flex-wrap: wrap;
                        li{
                          font-size: 12px;
                          padding: 10px;
                          &:nth-child(1){
                            width: 40%;
                          }
                          &:nth-child(2){
                            width: 60%;
                          }
                          &:nth-child(3){
                            width: 100%;
                            span{
                              display: inline;
                            }
                          }
                        }
                      }
                      .info-order{
                          .product{
                              .wrapper{
                                  .image-product{
                                      margin-right: 10px;
                                  }
                                  .title-product{
                                      width: 130px;
                                      font-size: 13px;
                                  }
                              }
                              .count-product, .price-product{
                                  font-size: 13px;
                              }
                              .price-product{
                                  width: auto;
                              }
                          }
                      }
                  }
              }
          }
      }
  }
}
@media(max-width:375px){
  #account-page{
      .container{
          .content-account{
              //Page PERSONAL
              &.personal{
                  .change-password{
                      .btn-primary{
                        width: 100%;
                      }
                  }
              }
              //Page HISTORY
              &.history{
                  .order{
                      margin-bottom: 35px;
                      .info-order{
                          padding: 15px 5px 10px;
                          .product{
                              .wrapper{
                                  .title-product{
                                      width: 105px;
                                  }
                              }

                          }
                      }
                  }
              }
          }
      }
  }
}
