#ordering{
    .container{
        min-height: 80vh;
        border-top: solid 2px #ebebeb;
        border-bottom: solid 2px #ebebeb;
        > .title{
            margin-top: 54px;
        }
        .description{
            margin-bottom: 74px;
            line-height: 1.5;
        }
        .three-blocks{
            @extend %flex-between;
            margin-bottom: 40px;
            article{
                width: calc(100% / 3);
                /*height: 316px;*/
                padding: 0 15.5px;
                border-right: solid 2px #dddddd;
                position: relative;
                padding-bottom: 50px;
                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                    border-right: none;
                }
                .title{
                    color: $text-green;
                    font-family: $secondary-font-bold;
                    font-size: 16px;
                    margin-top: 11px;
                }
                p{
                    padding-top: 23px;
                    min-height: 200px;
                    padding-bottom: 20px;
                    margin-top: 0;
                    font-size: 14px;
                    line-height: 1.5;
                }
                .forgot-your-password{
                    font-size: 12px;
                    color: #4a4a4a;
                    line-height: 2;
                    font-family: $secondary-font;
                    text-decoration: none;
                }
                .bottom{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    margin-left: -15.5px;
                }
                form{
                    label{
                        margin-bottom: 12px;
                        font-size: 14px;
                        font-family: $secondary-font;
                    }
                    input{
                        margin-bottom: 18px;
                        width: 271px;
                        display: block;
                        &:nth-child(4){
                            margin-bottom: 8px;
                        }
                    }
                    .btn-primary{
                        margin-top: 18px;
                    }
                }
            }
        }
    }
}

@media(max-width:991px){
    #ordering{
        .container{
            .description{
                margin-bottom: 25px;
                br{
                    display: none;
                }
            }
            .three-blocks{
                article{
                    .title{
                        height: 44px;
                    }
                    p{
                        padding-top: 0;
                    }
                    form{
                        input{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:600px){
    #ordering{
        .container{
            .three-blocks{
                flex-direction: column;
                article{
                    width: 100%;
                    margin-bottom: 40px;
                    border:none;
                    padding-left: 0;
                    padding-right: 0;
                    .title{
                       margin-bottom: 5px;
                    }
                    p{
                        min-height: 50px;
                        padding-bottom: 0;
                    }
                    form{
                        input{
                            width: 270px;
                        }
                    }
                    .bottom{
                        margin-left: 0;
                        .btn-primary{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:480px){
    #ordering{
        .container{
            .three-blocks{
                article{
                    form{
                        input{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}