#cart{
    .container{
        .cart-top{
            display: flex;
            justify-content: space-between;
            height: 60px;
            background-color: $bg-color-primary;
            padding: 19px 100px;
            margin: 0;
            list-style-type: none;
            color: #fff;
            font-family: Roboto-Regular;
            li{

                &:nth-child(1){
                    width: 40%;
                }
                &:nth-child(2){
                    width: 40%;
                }
                &:nth-child(3){
                    width: 20%;
                }
            }
        }
        .cart-middle{
            border: solid 1px #dddddd;
            .cart-products{
                padding: 19px 100px;
                .product{
                    height: 132px;
                    @extend %flex-between-center;
                    list-style-type: none;
                    padding: 31px 0;
                    margin: 0;
                    border-bottom: solid 2px #dddddd;
                    li{
                        &:nth-child(1){
                            width: 40%;
                            display: flex;
                            .image-product{
                                width: 70px;
                                height: 70px;
                                border: solid 1px #ddd;
                                padding: 5px;
                                margin-right: 32px;
                                img{
                                    width: 100%;
                                    padding: 5px;
                                    object-fit: cover;
                                }
                            }
                            .wrapper{
                                width: 170px;
                                .title-product{
                                    font-family: $secondary-font-bold;
                                    color: $text-green;
                                    width: 170px;
                                    text-decoration: underline;
                                }
                                p{
                                    margin: 0;
                                    font-size: 14px;
                                    font-family: $secondary-font;
                                }
                            }
                        }
                        &:nth-child(2){
                            width: 40%;
                            .count{
                                width: 170px;
                            }
                        }
                        &:nth-child(3){
                            width: 20%;
                            display: flex;
                            justify-content: space-between;
                            .price-product{
                                font-family: $dop-font-bold;
                            }
                        }
                    }
                }
            }
            .cart-payment{
                padding: 0px 100px;
                .go-to-shopping{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 2px solid #dddddd;
                    padding: 15px 0;
                    margin-top: 0;
                    .btn-primary{
                        width: 270px;
                        margin-right: 0;
                    }
                }
                .discont, .promocode{
                    border-bottom: 2px solid #dddddd;
                    .title{
                        font-family: $dop-font-bold;
                        position: relative;
                        i{
                            position: absolute;
                            right: 0;
                            transform: rotate(180deg);
                            &.rotate{
                              transform: rotate(0deg);
                            }
                        }
                    }
                    .content{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 5px;
                        p{
                            width: calc(100% - 270px - 20px);
                        }
                        div{
                            width: 270px;
                            height: 44px;
                            display: flex;
                            input{
                                width: 200px;
                                height: 100%;
                            }
                            // ::placeholder{
                            //   font-family: Roboto-Regular;
                            //   font-size: 16px;
                            // }
                            button{
                                width: 70px;
                                height: 100%;
                                background-color: $bg-color-primary;
                                border: none;
                                color: #fff;
                            }
                        }
                    }
                }
                .total{
                    font-family: $dop-font-bold;
                    font-size: 18px;
                    margin-bottom: 30px;
                    span{
                        float: right;
                    }
                }
            }
        }
        .cart-bottom{
            display: flex;
            justify-content: flex-end;
            padding: 19px 100px;
            .checkout{
                background-color: #f8e71c;
                height: 44px;
                width: 170px;
                font-family: $secondary-font;
                font-size: 14px;
                text-align: center;
                border-radius: 22px;
                color: #000;
                padding-top: 11px;

            }
            .btn-primary{
                margin: 0 0 0 28px;
                width: 270px;
            }
        }
    }
    .related-products{
            margin-top: 55px;
            margin-bottom: 55px;
            .products{
                @extend %flex-between;
                .item{
                    width: calc(100% / 4 - 16px);
                    height: 449px;
                    @extend %flex-between-center;
                    flex-direction: column;
                    padding: 22px;
                    border: 1px solid transparent;
                    img{
                      width: 100%;
                      height: 225px;
                      object-fit: contain;
                    }
                    .title{
                      font-size: 16px;
                      font-family: $secondary-font;
                      text-align: center;
                      width: 170px;
                      line-height: 1.5;
                    }
                    &:hover{
                      @extend %border-block;
                    }
                }
            }
    }
}
.feedback{
    .container{
        @extend %flex-between;
        border: solid 1px #dddddd;
        padding: 25px 0;
        > div{
            width: calc(100% / 3);
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 55px;
            position: relative;
            &:nth-child(2){
              border-left: solid 1px #dddddd;
              border-right: solid 1px #dddddd;
            }
            .title{
              color: $text-green;
              font-family: $secondary-font-bold;
              font-size: 18px;
              margin-top: 0;
            }
            p{
              font-size: 14px;
              line-height: 1.5;
            }
            ul{
              list-style-type: none;
              padding: 0;
              li{
                line-height: 1.5;
              }
            }
            .btn-primary{
              width: 170px;
              margin-left: 0;
              position: absolute;
              bottom: 0;
            }
            &.subscription{
              input{
                margin-top: 10px;
              }
            }
        }
    }
}
