.category{
    display: flex;
    flex-wrap: wrap;
    .item{
        width: calc(100% / 4 - 16px);
        margin-right: 21px;
        height: 449px;
        @extend %flex-between-center;
        flex-direction: column;
        padding: 22px;
        border: 1px solid transparent;
        img{
          width: 100%;
          height: 225px;
          object-fit: contain;
        }
        .title{
          font-size: 16px;
          font-family: $secondary-font;
          text-align: center;
          width: 170px;
          line-height: 1.5;
        }
        &:hover{
          @extend %border-block;
        }
        &:nth-child(4n){
            margin-right: 0;
        }
    }
}

//Filters for category
.filters-for-category{
    .container{
        form{
            display: flex;
            margin: 15px 0;
            select, .ui-selectmenu-button{
                width: calc(100% / 4 - 16px);
                margin-right: 21px;
                border-radius: 0;
                background: #fff;
                padding: 11px 12px;
                border: solid 1px #d5d5d5;
            }
            .ui-icon{
                background: url(../img/caret-down.svg) 50%/50% no-repeat;
                width: 18px;
                height: 20px;
            }
            button{
                margin: 0;
                width: 145px;
            }
        }
    }
}
.ui-selectmenu-text, .ui-menu .ui-menu-item-wrapper{
    font-family: $secondary-font;
    font-size: 14px;
}
.ui-menu{
    background-color: #fff;
    border: solid 1px #d5d5d5;
}
.ui-menu-item{
    .ui-menu-item-wrapper{
        padding-left: 14px;
        padding-right: 14px;
    }
}

//---MEDIA---//
@media(min-width:600px) and (max-width:768px){
    .category{
        .item{
            width: calc(100% / 3 - 10px);
            margin-right: 15px;
            height: 420px;
            &:nth-child(3n){
                margin-right: 0;
            }
        }
    } 
}
@media(min-width:481px) and (max-width:600px){
    .category{
        .item{
            width: calc(100% / 3 - 10px);
            margin-right: 15px;
            height: 400px;
            padding: 12px;
            &:nth-child(3n){
                margin-right: 0;
            }
        }
    } 
}

@media(max-width:480px){
    .filters-for-category{
        .container{
            form{
                flex-direction: column;
                select, .ui-selectmenu-button{
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 10px;
                    border-radius: 0;
                    background: #fff;
                    padding: 10px 12px;
                }
                button{
                    margin: 0;
                    width: 145px;
                }
            }
        }
    }
}
@media(min-width:376px) and (max-width:480px){
    .category{
        .item{
            width: calc(100% / 2 - 10px);
            margin-right: 15px;
            height: 400px;
            padding: 12px;
            &:nth-child(2n){
                margin-right: 0px;
            }
        }
    } 
}
@media(min-width:350px) and (max-width:375px){
    .category{
        .item{
            width: calc(100% / 2 - 10px);
            margin-right: 15px;
            height: 380px;
            padding: 12px;
            img{
                height: 180px;
            }
            &:nth-child(2n){
                margin-right: 0px;
            }
        }
    } 
}
@media(max-width:350px){
    .category{
        .item{
            width: 100%;
            height: 380px;
            padding: 12px;
            margin-right: 0;
            img{
                height: 180px;
            }
        }
    } 
}