#single-page-excursion{
    .title{
        font-size: 30px;
    }
    .container{
        //Main description
        .main-description{
          margin-bottom: 41px;
          .wrapper{
              @extend %flex-between;
              .left-block{
                  width:870px;
                  .row{
                      @extend %flex-between;
                      .image-excursion{
                         width: 470px;
                         height: auto;
                         object-fit: cover;
                      }
                      .description-tour{
                         width: 370px;
                         min-height: 370px;
                         background-color: $bg-color-primary;
                         padding: 32px;
                         p{
                           font-size: 14px;
                           color: #fff;
                           line-height: 1.5;
                           font-family: $secondary-font;
                           margin: 0 0 13.5px 0;
                           span{
                             font-family: $secondary-font-bold;
                             display: block;
                           }
                           &:last-child{
                             margin-bottom: 0;
                           }
                         }
                      }
                  }
                  .row{
                      .title{
                        margin-top: 31px;
                        margin-bottom: 20px;
                      }
                      ul{
                        padding-left: 20px;
                        padding-right: 20px;
                        li{
                          line-height: 1.5;
                          font-family: $secondary-font;
                          font-size: 14px;
                        }
                      }
                      .programm{
                          width: 470px;
                          margin-top: 30px;
                      }
                      .additionally{
                          width: 370px;
                          margin-top: 30px;
                      }
                  }
              }
              .right-block{
                  width: 270px;
                  .similar-excursions{
                      .similar-excursion{
                          text-decoration: none;
                          width: 100%;
                          height: 370px;
                          margin-bottom: 30px;
                          padding: 18px;
                          display: flex;
                          flex-direction: column;
                          justify-content: flex-end;
                          background-size: cover;
                          background-position: 50%;
                          background-repeat: no-repeat;
                          position: relative;
                          &:after{
                            content: '';
                            opacity: 0.45;
                            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                          }
                          .time-exc{
                            margin: 0;
                            font-size: 14px;
                            font-family: $secondary-font;
                            color: #fff;
                            z-index: 1;
                          }
                          .title-exc{
                            font-size: 20px;
                            margin: 2px 0 9px;
                            color: #fff;
                            text-decoration: none;
                            font-size: 20px;
                            font-family: $secondary-font-bold;
                            z-index: 1;
                            &:hover{
                              text-decoration: underline;
                            }
                          }
                          .price-exc{
                            margin: 0;
                            z-index: 1;
                            height: 39px;
                            span{
                              background-color: $bg-color-primary;
                              min-width: 81px;
                              padding: 0px 9px;
                              color: #fff;
                              font-size: 28px;
                              font-family: $secondary-font-bold;
                            }
                          }
                      }
                  }
              }
          }
          .btn-primary{
              margin-top: 17px;
              margin-left: 0;
              width: 170px;
          }
        }
        //Reviews
        .reviews{
            .wrapper{
                @extend %flex-between;
                .left-block{
                    width: 771px;
                    .review{
                        border:1px solid #dddddd;
                        padding: 26px 58px;
                        margin-bottom: 30px;
                        .header-rev{
                            position: relative;
                            span{
                                font-family: $secondary-font;
                                &.name{font-size: 16px;}
                                &.date{font-size: 12px;}
                            }
                            .stars{
                                @extend %ul-inline-not-dots;
                                margin: 0;
                                position: absolute;
                                top: 0;
                                right: 0;
                                li{
                                    i{
                                        color: #d8d8d8;
                                        font-size: 12px;
                                        margin-left: 3px;
                                        &.active{color: #f8e71c;}
                                    }
                                }
                            }
                        }
                        .content-rev{
                            border-top: 2px solid #dddddd;
                            border-bottom: 2px solid #dddddd;
                            margin-top: 21px;
                            margin-bottom: 15px;
                            .title{
                                font-size: 16px;
                                font-family: $secondary-font-bold;
                                margin-top: 14px;
                            }
                            .description{
                                font-size: 14px;
                                line-height: 1.5;
                            }
                        }
                        .footer-rev{
                            display: flex;
                            justify-content: flex-end;
                            .btn-primary{
                                margin: 0;
                            }
                        }
                    }
                }
                .right-block{
                    width: 370px;
                    padding: 34px;
                    border:1px solid #dddddd;
                    .title{
                        font-size: 18px;
                        text-transform: uppercase;
                        font-family: $secondary-font-bold;
                        margin-top: 0;
                        margin-bottom: 31px;
                    }
                    form{
                        position: relative;
                        .assessment{
                            margin-bottom: 31px;
                        }
                        .stars{
                            @extend %ul-inline-not-dots;
                            margin: 0;
                            position: absolute;
                            top: 0;
                            right: 0;
                            li{
                                i{
                                    color: #d8d8d8;
                                    font-size: 12px;
                                    margin-left: 3px;
                                    &.active{
                                        color: #f8e71c;
                                    }
                                }
                            }
                        }
                        input{
                            margin-bottom: 20px;
                        }
                        textarea{
                            margin-bottom: 39px;
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1200px){
    #single-page-excursion{
        .container{
          .main-description{
            .wrapper{
                .left-block{
                    width: calc(100% - 270px - 15px);
                    .row{
                        .image-excursion{
                          width: 49%;
                        }
                        .description-tour{
                          width: 49%;
                        }
                    }
                    .row{
                        .programm{
                          width: 49%;
                        }
                        .additionally{
                          width: 49%;
                        }
                    }
                }
            }
          }
        }
    }
}

@media(max-width:991px){
    #single-page-excursion{
        .container{
          .main-description{
            .wrapper{
                flex-direction: column;
                .left-block{
                    width: 100%;
                    .row{
                        .image-excursion{
                          width: 57%;
                        }
                        .description-tour{
                          width: 42%;
                        }
                    }
                    .row{
                        .programm{
                          width: 57%;
                        }
                        .additionally{
                          width: 42%;
                        }
                    }
                }
                .right-block{
                    width: 100%;
                    .similar-excursions{
                      display: flex;
                      .similar-excursion{
                        width: 270px;
                        margin-right: 20px;
                        margin-bottom: 10px;
                        &:last-child{
                          margin-right: 0;
                        }
                      }
                    }
                }
            }
          }
        }
    }
}

@media(max-width:900px){
    #single-page-excursion{
        .container{
            .reviews{
                .wrapper{
                    flex-direction: column;
                    .left-block{
                        width: 100%;
                    }
                    .right-block{
                        width: 100%;
                        padding: 35px 55px;
                        form{
                            textarea{
                                margin-bottom: 20px;
                                height: 160px;
                            }
                            .btn-primary{
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:768px){
    #single-page-excursion{
        .container{

        }
    }
}
@media(max-width:600px){
    #single-page-excursion{
        .container{
          .main-description{
            .wrapper{
                .left-block{
                    .row{
                        flex-wrap: wrap;
                        .image-excursion{
                          width: 100%;
                          margin-bottom: 15px;
                        }
                        .description-tour{
                          width: 100%;
                          padding: 20px;
                          min-height: 100px;
                          p{
                            margin-bottom: 6px;
                          }
                        }
                    }
                    .row{
                        .programm{
                          width: 100%;
                        }
                        .additionally{
                          width: 100%;
                          margin-top: 0;
                          margin-bottom: 20px;
                        }
                    }
                }
            }
          }
        }
    }
}
@media(max-width:480px){
    #single-page-excursion{
        .container{
            .main-description{
              .wrapper{
                  .left-block{
                      .row{
                          .image-excursion{
                            height: 400px;
                          }
                      }
                  }
                  .right-block{
                      .similar-excursions{
                          flex-direction: column;
                          .similar-excursion{
                              height: 300px;
                              width: 100%;
                          }
                      }
                  }
              }
            }

            .reviews{
                .wrapper{
                    .left-block{
                        .review{
                            padding: 20px 20px;
                        }
                    }
                    .right-block{
                        padding: 20px 20px;
                    }
                }
            }
        }
    }
}
@media(max-width:375px){
    #single-page-excursion{
        .container{

        }
    }
}
