.excursions{
    display: flex;
    flex-wrap: wrap;
    .item{
        width: calc(100% / 4 - 16px);
        margin-right: 21px;
        height: 449px;
        margin-bottom: 25px;
        .similar-excursion{
            height: 100%;
            text-decoration: none;
            padding: 18px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            position: relative;
              &:after{
                content: '';
                opacity: 0.45;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
              .time-exc{
                margin: 0;
                font-size: 14px;
                font-family: $secondary-font;
                color: #fff;
                z-index: 1;
              }
              .title-exc{
                font-size: 20px;
                margin: 2px 0 9px;
                color: #fff;
                text-decoration: none;
                font-size: 20px;
                font-family: $secondary-font-bold;
                z-index: 1;
                &:hover{
                  text-decoration: underline;
                }
              }
              .price-exc{
                margin: 0;
                z-index: 1;
                height: 39px;
                span{
                  background-color: $bg-color-primary;
                  min-width: 81px;
                  padding: 0px 9px;
                  color: #fff;
                  font-size: 28px;
                  font-family: $secondary-font-bold;
                }
              }
        }
        &:nth-child(4n){
            margin-right: 0;
        }
    }
}

//---MEDIA---//
@media(min-width:600px) and (max-width:768px){
    .excursions{
        .item{
            width: calc(100% / 3 - 10px);
            margin-right: 15px;
            height: 420px;
            &:nth-child(3n){
                margin-right: 0;
            }
        }
    } 
}
@media(min-width:481px) and (max-width:600px){
    .excursions{
        .item{
            width: calc(100% / 2 - 10px);
            margin-right: 15px;
            height: 400px;
            &:nth-child(2n){
                margin-right: 0px;
            }
        }
    } 
}
@media(max-width:480px){
    
}
@media(min-width:376px) and (max-width:480px){
    .excursions{
        .item{
            width: calc(100% / 2 - 10px);
            margin-right: 15px;
            height: 400px;
            &:nth-child(2n){
                margin-right: 0px;
            }
        }
    } 
}
@media(max-width:375px){
    .excursions{
        .item{
            width: 100%;
            height: 380px;
            margin-right: 0;
            img{
                height: 180px;
            }
        }
    } 
}