//Banner
#banner{
    .slider-banner{
        .slide{
          height: 600px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50%;
          .title{
            width: 500px;
            margin-left: 25%;
            margin-top: 225px;
          }
        }
        .slick-dots{
          list-style-type: none;
          position: absolute;
          width: 100%;
          bottom: 0px;
          @extend %flex-center;
          padding: 0;
          li{
            margin: 0 10.5px;
            button{
              background-color: transparent;
              color: transparent;
              border-radius: 50%;
              border: 2px solid #fff;
              width: 16px;
              height: 16px;
              padding: 0;
            }
            &.slick-active{
              button{
                  background-color: rgba(255, 255, 255, 0.73);
              }
            }
          }
        }
    }
}

//Three categories
.three-categories{
    padding-top: 40px;
    padding-bottom: 40px;
    .container{
        @extend %flex-between;
        .item{
            @extend %border-block;
            @extend %flex-between-center;
            flex-direction: column;
            width: calc(100% / 3 - 30px);
            height: 370px;
            img{
                margin-top: 75px;
            }
            .title{
                font-family: $primary-font-bold;
                font-size: 36px;
                letter-spacing: 0.7px;
                color: #000000;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
            }
        }
    }
}

//Our novelties
.our-novelties{
    .container{
        .new-products{
            @extend %flex-between;
            .item{
                width: calc(100% / 4 - 16px);
                height: 449px;
                @extend %flex-between-center;
                flex-direction: column;
                padding: 22px;
                border: 1px solid transparent;
                img{
                  width: 100%;
                  height: 225px;
                  object-fit: contain;
                }
                .title{
                  font-size: 16px;
                  font-family: $secondary-font;
                  text-align: center;
                  width: 170px;
                  line-height: 1.5;
                }
                &:hover{
                  @extend %border-block;
                }
            }
        }
        .overview-place{
            padding: 39px 0 0;
            @extend %flex-between;
            .item{
                width: calc(100% / 4);
                height: 449px;
                @extend %flex-between-center;
                flex-direction: column;
                padding: 22px;
                position: relative;
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
                .hover{
                  display: none;
                  & > *{
                    position: relative;
                    z-index: 2;
                  }
                  .title{
                      font-family: $secondary-font;
                      font-size: 24px;
                      color: $text-white;
                      max-width: 50%;
                      margin: 0 auto;
                      text-align: center;
                  }
                  hr{
                      width: 50%;
                      margin: 27px auto;
                  }
                  .price{
                      color: $text-white;
                      margin: 0 auto 27px;
                      &:after{
                          display: none;
                      }
                  }
                }
                &:hover{
                  .hover{
                      @extend %flex-center-center-column;
                      position: absolute;
                      top: 0;
                      left: 0;
                      background-color: $bg-color-primary;
                      height: 100%;
                      width: 100%;
                      &:after{
                          content: '';
                          background: url(../img/after.svg) 100% no-repeat;
                          height: 100%;
                          width: 100%;
                          display: block;
                          position: absolute;
                          top: 0;
                      }
                  }
                }
            }
        }
    }
}

//WHO ARE HAPPY BUDDHA
.who-are-happy-buddha{
    padding: 0 0 40px;
    .container{
        .row{
            @extend %flex-between-center;
            article{
                width:570px;
                text-align: justify;
            }
        }
    }
}

//CONTACT US
.contact-us{
    position: relative;
    .container{
        position: relative;
        .row{
            @extend %flex-between;
            margin: 0 8%;
            .address{
                width:calc(100% - 570px - 20px);
                > p{
                   margin-bottom: 40px;
                }
                .address-block{
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 30px;
                    ul{
                      margin: 0;
                      list-style-type: none;
                      font-family: $secondary-font;
                      padding-left: 30px;
                    }
                }
            }

            .contact-form{
                @extend %border-block;
                width: 570px;
                background-color: $bg-color-white;
                margin-bottom: 180px;
                min-height: 515px;
                border-radius: 4px;
                padding: 46px 100px 31px;
                form{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .input-block{
                        width: 46%;
                    }
                    .textarea-block{
                        textarea{
                            height: 100px;
                        }
                    }
                    .required-fields{
                      font-family: $secondary-font;
                      font-size: 12px;
                      color: $text-light-grey;
                      width: 100%;
                      margin-top: 0;
                      margin-bottom: 28px;
                    }
                }
            }
        }
    }
    &:before{
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      background: url(../img/footer-image.png) 50%/cover no-repeat;
      width: 100%;
      height: 435px;
    }
}

//---MEDIA---//
@media(max-width:1440px){
    // Banner
    #banner{
        .slider-banner{
            .slide{
                .title{
                  margin-left: 18%;
                  margin-top: 225px;
                }
            }
        }
    }
}

@media(max-width:1200px){
    .container{
        width:94%;
    }
    //Three categories
    .three-categories{
        .container{
            .item{
                width: calc(100% / 3 - 1%);
                height: 360px;
                .title{
                    font-size: 34px;
                }
            }
        }
    }
    //Our novelties
    .our-novelties{
        .container{
            .overview-place{
                .item{
                    height: 400px;
                }
            }
        }
    }
    //WHO ARE HAPPY BUDDHA
    .who-are-happy-buddha{
        padding: 0 0 40px;
        .container{
            .row{
                img{
                    width:35%;
                }
                article{
                    width:60%;
                    text-align: justify;
                }
            }
        }
    }
    //CONTACT US
    .contact-us{
        .container{
            .row{
                margin: 0 4%;
                .contact-form{
                    width: 500px;
                    padding: 46px 60px 31px;
                }
            }
        }
    }
}

@media(max-width:991px){
    // Banner
    #banner{
        .slider-banner{
            .slide{
                height: 500px;
            }
        }
    }
    //Three categories
    .three-categories{
        .container{
            .item{
                height: 340px;
                img{
                    margin-top: 60px;
                }
                .title{
                    font-size: 30px;
                }
            }
        }
    }
    //Our novelties
    .our-novelties{
        .container{
            .new-products{
                .item{
                    width: calc(100% / 4);
                    margin-bottom: 20px;
                }
            }
            .overview-place{
                padding: 39px 0 0;
                .item{
                    &:hover{
                      .hover{
                          position: absolute;
                          top: 0;
                          left: 0;
                          background-color: $bg-color-primary;
                          height: 100%;
                          width: 100%;
                          &:after{
                              content: '';
                              background: url(../img/after.svg) 100% no-repeat;
                              height: 100%;
                              width: 100%;
                              display: block;
                              position: absolute;
                              top: 0;
                          }
                      }
                    }
                }
            }
        }
    }
    //WHO ARE HAPPY BUDDHA
    .who-are-happy-buddha{
        padding: 0 0 40px;
        .container{
            .row{
                align-items: flex-start;
                img{
                    width:40%;
                }
                article{
                    width:55%;
                    text-align: justify;
                }
            }
        }
    }
    //CONTACT US
    .contact-us{
        .container{
            .row{
                margin: 0 4%;
                .address{
                    width:calc(100% - 440px - 20px);
                }
                .contact-form{
                    width: 440px;
                    background-color: $bg-color-white;
                    margin-bottom: 180px;
                    min-height: 515px;
                    border-radius: 4px;
                    padding: 46px 45px 31px;
                }
            }
        }
    }
}

@media(max-width:900px){
    // Banner
    #banner{
        .slider-banner{
            .slide{
                display: flex;
                justify-content: center;
                align-items: center;
                .title{
                    margin: 0;
                }
            }
        }
    }
    //Our novelties
    .our-novelties{
        .container{
            .new-products{
                .item{
                    width: calc(100% / 4);
                    margin-bottom: 20px;
                    height: 420px;
                }
            }
            .overview-place{
                .item{
                    height: 300px;
                    .hover{
                  
                      .title{
                          max-width: 70%;
                      }
                      hr{
                          width: 70%;
                          margin: 15px auto;
                      }
                    }
                }
            }
        }
    }
    //CONTACT US
    .contact-us{
        padding-bottom: 30px;
        .container{
            .row{
                margin: 0 4%;
                display: block;
                .address{
                    width:100%;
                    display: flex;
                    flex-wrap: wrap;
                    p{
                        width: 100%;
                    }
                    .address-block{
                        width: 50%;
                    }
                }
                .contact-form{
                    width: 100%;
                    background-color: $bg-color-white;
                    margin-bottom: 100px;
                    min-height: 515px;
                    border-radius: 4px;
                    padding: 46px 45px 31px;
                }
            }
        }
    }
}

@media(max-width:767px){
    //Three categories
    .three-categories{
        .container{
            .item{
                height: 300px;
                img{
                    margin-top: 50px;
                    width: 80px;
                }
                .title{
                    font-size: 30px;
                }
            }
        }
    }
    //Our novelties
    .our-novelties{
        .container{
            .new-products{
                flex-wrap: wrap;
                .item{
                    width: calc(100% / 2);
                    margin-bottom: 20px;
                    height: 420px;
                }
            }
            .overview-place{
                flex-wrap: wrap;
                .item{
                    width: calc(100% / 2);
                    height: 480px;
                }
            }
        }
    }
    //WHO ARE HAPPY BUDDHA
    .who-are-happy-buddha{
        padding: 0 0 40px;
        .container{
            .row{
                display: block;
                img{
                    margin-right: 15px;
                    float: left;
                }
                article{
                    width:100%;
                }
            }
        }
    }
}

@media(max-width:600px){
    // Banner
    #banner{
        .slider-banner{
            .slide{
                height: 440px;
                .title{
                    font-size: 50px;
                    width: 75%;
                }
            }
        }
    }
}

@media(max-width:480px){
    // Banner
    #banner{
        .slider-banner{
            .slide{
                height: 420px;
                .title{
                    font-size: 46px;
                    width: 80%;
                }
            }
        }
    }
    //Three categories
    .three-categories{
        .container{
            display: block;
            .item{
                width: 100%;
                height: 320px;
                margin-bottom: 25px;
                img{
                    margin-top: 40px;
                    width: 125px;
                    height: 125px
                }
                .title{
                    font-size: 30px;
                }
            }
        }
    }
    //Our novelties
    .our-novelties{
        .container{
            .new-products{
                flex-wrap: wrap;
                .item{
                    width: calc(100% / 2);
                    margin-bottom: 20px;
                    height: 350px;
                    padding: 15px;
                    img{
                        height: 150px;
                    }
                    .btn-primary{
                        width: 100%;
                    }
                }
            }
            .overview-place{
                .item{
                    height: 300px;
                    .hover{
                      hr{
                          margin: 15px auto;
                      }
                      .price{
                          margin: 0 auto 15px;
                      }
                    }
                }
            }
        }
    }
    //CONTACT US
    .contact-us{
        .container{
            .row{
                margin: 0;
                .address{
                    p{
                        margin-bottom: 30px;
                    }
                    .address-block{
                        width: 100%;
                    }
                }

                .contact-form{
                    padding: 35px 6% 31px;
                    form{
                        .input-block{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:375px){
    p{
        font-size: 14px;
    }
    // Banner
    #banner{
        .slider-banner{
            .slide{
                .title{
                    font-size: 44px;
                    width: 75%;
                }
            }
        }
    }
    //Our novelties
    .our-novelties{
        .container{
            .new-products{
                .item{
                    width: calc(100% / 1);
                    margin-bottom: 10px;
                    height: 350px;
                    padding: 15px;
                    img{
                        height: 150px;
                    }
                    .btn-primary{
                        width: 170px;
                    }
                }
            }
            .overview-place{
                .item{
                    height: 420px;
                    width: calc(100% / 1);
                    .hover{
                      hr{
                          width: 55%;
                      }
                    }
                }
            }
        }
    }
}
@media(max-width:350px){
    //Our novelties
    .our-novelties{
        .container{
            .overview-place{
                .item{
                    height: 400px;
                    width: calc(100% / 1);
                }
            }
        }
    }
}