#single-page-product{
    .title{
        font-size: 30px;
    }
    .container{
        .main-description{
            @extend %flex-between;
            margin-bottom: 34px;
            .image-product{
                width: 470px;
                /*height: 470px;*/
                @extend %border-block;
                @extend %flex-center-center;
                img{
                    max-width: 100%;
                }
            }
            .right-block{
                width: 670px;
                position: relative;
                .title{
                    font-family: $secondary-font-bold;
                    font-size: 24px;
                    color: #000;
                    text-transform: uppercase;
                    margin-top: 0;
                    margin-bottom: 41px;
                    width: 60%;
                }
                .price-single{
                    position: absolute;
                    top: 0;
                    right: 0;
                    min-width: 170px;
                    height: 44px;
                    background-color: $bg-color-primary;
                    color: #fff;
                    font-family: $secondary-font-bold;
                    font-size: 24px;
                    text-align: center;
                    padding: 5px;
                    span{
                        font-size: 12px;
                    }
                }
                .description{
                    font-size: 14px;
                    height: 208px;
                    overflow: hidden;
                }
                .in-stock{
                    font-size: 16px;
                    font-family: $secondary-font-bold;
                    color: $text-green;
                    margin: 25px 0;
                }
                .btn-primary{
                    margin: 0;
                }
            }
        }
        .product-tabs{
            .ui-tabs .ui-tabs-nav .ui-tabs-anchor, .ui-tabs .ui-tabs-nav, .ui-tabs, .ui-tabs .ui-tabs-panel{
                padding: 0;
            }
            .ui-tabs-nav{
                margin-top: 30px;
                margin-bottom: 30px;
                li{
                    margin: 0 30px 0 0;
                    padding: 0 30px 0 0;
                    position: relative;
                    a{
                        color: $text-light-grey;
                        font-family: $secondary-font-bold;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 3px;
                        border: 1px solid #000;
                        height: 12px;
                    }
                    &.ui-state-active{
                        a{
                            color: #000;
                        }
                    }
                    &:last-child:after{
                        border: none;
                    }
                }
            }
            .tabs{
                ul{
                    padding-left: 20px;
                }
            }
        }
        .reviews{
            .wrapper{
                @extend %flex-between;
                .left-block{
                    width: 771px;
                    .review{
                        border:1px solid #dddddd;
                        padding: 26px 58px;
                        margin-bottom: 30px;
                        .header-rev{
                            position: relative;
                            span{
                                font-family: $secondary-font;
                                &.name{
                                    font-size: 16px;
                                }
                                &.date{
                                    font-size: 12px;
                                }
                            }
                            .stars{
                                @extend %ul-inline-not-dots;
                                margin: 0;
                                position: absolute;
                                top: 0;
                                right: 0;
                                li{
                                    i{
                                        color: #d8d8d8;
                                        font-size: 12px;
                                        margin-left: 3px;
                                        &.active{
                                            color: #f8e71c;
                                        }
                                    }
                                }
                            }
                        }
                        .content-rev{
                            border-top: 2px solid #dddddd;
                            border-bottom: 2px solid #dddddd;
                            margin-top: 21px;
                            margin-bottom: 15px;
                            .title{
                                font-size: 16px;
                                font-family: $secondary-font-bold;
                                margin-top: 14px;
                            }
                            .description{
                                font-size: 14px;
                                line-height: 1.5;
                            }
                        }
                        .footer-rev{
                            display: flex;
                            justify-content: flex-end;
                            .btn-primary{
                                margin: 0;
                            }
                        }
                    }
                }
                .right-block{
                    width: 370px;
                    padding: 34px;
                    border:1px solid #dddddd;
                    .title{
                        font-size: 18px;
                        text-transform: uppercase;
                        font-family: $secondary-font-bold;
                        margin-top: 0;
                        margin-bottom: 31px;
                    }
                    form{
                        position: relative;
                        .assessment{
                            margin-bottom: 31px;
                        }
                        .stars{
                            @extend %ul-inline-not-dots;
                            margin: 0;
                            position: absolute;
                            top: 0;
                            right: 0;
                            li{
                                i{
                                    color: #d8d8d8;
                                    font-size: 12px;
                                    margin-left: 3px;
                                    &.active{
                                        color: #f8e71c;
                                    }
                                }
                            }
                        }
                        input{
                            margin-bottom: 20px;
                        }
                        textarea{
                            margin-bottom: 39px;
                            height: 200px;
                        }
                    }
                }
            }
        }

        .related-products{
            margin-top: 55px;
            margin-bottom: 55px;
            .products{
                @extend %flex-between;
                .item{
                    width: calc(100% / 4 - 16px);
                    height: 449px;
                    @extend %flex-between-center;
                    flex-direction: column;
                    padding: 22px;
                    border: 1px solid transparent;
                    img{
                      width: 100%;
                      height: 225px;
                      object-fit: contain;
                    }
                    .title{
                      font-size: 16px;
                      font-family: $secondary-font;
                      text-align: center;
                      width: 170px;
                      line-height: 1.5;
                    }
                    &:hover{
                      @extend %border-block;
                    }
                }
            }
        }
    }
}

@media(max-width:1200px){
    #single-page-product{
        .container{
            .main-description{
                .image-product{
                    width: 370px;
                }
                .right-block{
                    width: calc(100% - 370px - 20px);
                }
            }
            .product-tabs{
                .ui-tabs-nav{
                    margin-top: 25px;
                    margin-bottom: 25px;
                    li{
                        margin: 0 15px 0 0;
                        padding: 0 15px 0 0;
                    }
                }
            }
            .reviews{
                .wrapper{
                    .left-block{
                        width: calc(100% - 320px - 20px);
                    }
                    .right-block{
                        width: 320px;
                    }
                }
            }
        }
    }
}

@media(max-width:991px){
    #single-page-product{
        .container{
            .main-description{
                .image-product{
                    width: 300px;
                }
                .right-block{
                    width: calc(100% - 300px - 20px);
                    .title{
                        margin-bottom: 21px;
                    }
                }
            }
        }
    }
}

@media(max-width:900px){
    #single-page-product{
        .title{
            font-size: 30px;
        }
        .container{
            .reviews{
                .wrapper{
                    flex-direction: column;
                    .left-block{
                        width: 100%;
                    }
                    .right-block{
                        width: 100%;
                        padding: 35px 55px;
                        form{
                            textarea{
                                margin-bottom: 20px;
                                height: 160px;
                            }
                            .btn-primary{
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
            .related-products{
                .title{
                    margin-bottom: 10px;
                }
                .products{
                    .item{
                        height: 390px;
                        padding: 12px;
                        img{
                          height: 190px;
                        }
                        .price{
                            margin: 15px 0;
                        }
                        .title{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:768px){
    #single-page-product{
        .container{
            .main-description{
                flex-direction: column;
                .image-product{
                    width: 100%;
                    margin-bottom: 22px;
                }
                .right-block{
                    width: 100%;
                }
            }
            .related-products{
                .products{
                    .item{
                        width: calc(100% / 4);
                        height: 350px;
                        img{
                          height: 155px;
                        }
                        .title{
                            margin-bottom: 0;
                        }
                        .price{
                            margin: 10px 0;
                            &:after{
                                right: -24px;
                            }
                        }
                        .btn-primary{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:599px){
    #single-page-product{
        .container{
            .product-tabs{
                .ui-tabs-nav{
                    display: flex;
                    flex-direction: column;
                    li{
                        &:after{
                            border: none;
                        }
                    }
                }
            }
            .related-products{
                .products{
                    flex-wrap: wrap;
                    .item{
                        width: calc(100% / 2);
                        height: 380px;
                        padding: 20px;
                        img{
                          height: 185px;
                        }
                        .price{
                            margin: 10px 0;
                            &:after{
                                right: -24px;
                            }
                        }
                        .btn-primary{
                            width: 170px;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:480px){
    #single-page-product{
        .container{
            .main-description{
                .image-product{
                }
                .right-block{
                    .title{
                        width: 100%;
                    }
                    .price-single{
                        top: -56px;
                        min-width: 100px;
                        height: 34px;
                        font-size: 16px;
                    }
                }
            }
            .reviews{
                .wrapper{
                    .left-block{
                        .review{
                            padding: 20px 20px;
                        }
                    }
                    .right-block{
                        padding: 20px 20px;
                    }
                }
            }
            .related-products{
                .products{
                    .item{
                        padding: 20px;
                        .btn-primary{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:375px){
    #single-page-product{
        .container{
            .related-products{
                margin-top: 45px;
                margin-bottom: 20px;
                .products{
                    .item{
                        height: 380px;
                        padding: 12px;
                    }
                }
            }
        }
    }
}
