#ordering{
    .container{
        .wrapper{
            @extend %flex-between;
            margin-bottom: 20px;
            .left-block{
                width: 770px;
                .your-data, .delivary, .payment{
                    border-radius: 4px;
                    overflow: hidden;
                    border: solid 1px #dddddd;
                    margin-bottom: 24px;
                    .title{
                        background-color: $bg-color-primary;
                        height: 50px;
                        margin: 0;
                        padding: 13px 24px 13px 99px;
                        font-size: 18px;
                        font-family: $secondary-font;
                        color: #fff;
                        position: relative;
                        i{
                            position: absolute;
                            top: 15px;
                            right: 24px;
                            font-size: 18px;
                            &.rotate{
                              transform: rotate(180deg);
                            }
                        }
                    }
                    .data{
                        padding: 13px 99px 13px 99px;
                        display: flex;
                        flex-wrap: wrap;
                        .input-field{
                            width: 47%;
                            margin-right: 6%;
                            margin-bottom: 20px;
                            &:nth-child(2n){
                              margin-right: 0;
                            }
                            .ui-selectmenu-button{
                              border: solid 1px #d5d5d5;
                              height: 44px;
                              width: 100%;
                              padding-top: 11px;
                            }
                            .ui-icon{
                              background: url(../img/caret-down.svg) 50%/50% no-repeat;
                              width: 18px;
                              height: 20px;
                            }
                        }
                    }
                    .radio-btns{
                        display: flex;
                        flex-wrap: wrap;
                        padding: 19px 66px;
                        .radio-btn{
                            width: 50%;
                            display: flex;
                            margin: 10px 0;
                            input{
                              width: 14px;
                              height: 14px;
                              margin-right: 16px;
                            }
                            label{
                              width: auto;
                              margin-bottom: 0;
                            }
                            .secession{
                              width: 100%;
                              height: 40px;
                              margin-top: 10px;
                              border: none;
                              border-bottom: 1px solid #d5d5d5;
                            }
                        }
                    }
                }
            }
            .right-block{
                width: 370px;
                .cart{
                    border: solid 1px #d5d5d5;
                    margin-bottom: 12px;
                    padding: 37px 43px;
                    .products{
                        border-bottom: solid 1px #d5d5d5;
                        padding-bottom: 24px;
                        .product{
                          display: flex;
                            .image-product{
                              width: 70px;
                              height: 70px;
                              border: solid 1px #ddd;
                              padding: 5px;
                              margin-right: 29px;
                              img{
                                width: 100%;
                                padding: 5px;
                                -o-object-fit: cover;
                                object-fit: cover;
                              }
                            }
                            .info-product{
                                width: 180px;
                                .title{
                                    font-size: 14px;
                                    font-family: $secondary-font-bold;
                                    color: $text-green;
                                    margin: 0 0 10px;
                                }
                                .price-count-total{
                                    font-family: $secondary-font;
                                    font-size: 12px;
                                    margin: 0;
                                }
                            }
                        }
                    }
                    .order-info{
                        p{
                            border-bottom: solid 1px #d5d5d5;
                            padding-bottom: 17px;
                            font-family: $secondary-font;
                            font-size: 14px;
                            span{
                                float: right;
                                font-family: $secondary-font-bold;
                            }
                            &:last-child{
                                border: none;
                                padding-bottom: 0;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .btn-confirm{
                  width: 100%;
                  height: 45px;
                  background-color: #f8e71c;
                  font-family: $secondary-font;
                  font-size: 14px;
                  text-align: center;
                  border: none;
                }
            }
        }
    }
}

@media(max-width:1200px){
  #ordering{
      .container{
          .wrapper{
              .left-block{
                  width: calc(100% - 340px - 20px);
                  .your-data, .delivary, .payment{
                    .title{
                        padding: 13px 24px 13px 34px;
                    }
                    .data, .radio-btns{
                        padding: 13px 24px 13px 34px;
                    }
                    .radio-btns{
                        .radio-btn{
                          input{
                            margin-right: 10px;
                          }
                        }
                    }
                  }
              }
              .right-block{
                  width: 340px;
                  .cart{
                    padding: 37px 20px;
                  }
              }
          }
      }
  }
}
@media(max-width:991px){
  #ordering{
      .container{
          .wrapper{
              flex-direction: column;
              .left-block{
                  width: 100%;
                  .your-data, .delivary, .payment{
                    .title{
                        padding: 13px 24px 13px 34px;
                    }
                    .data, .radio-btns{
                        padding: 13px 24px 13px 34px;
                    }
                    .radio-btns{
                        .radio-btn{
                          input{
                            margin-right: 10px;
                          }
                          label{
                            width: 90%;
                          }
                          div{
                            width: 90%;
                          }
                        }
                    }
                  }
              }
              .right-block{
                  width: 100%;
                  .cart{
                    padding: 37px 20px;
                  }
              }
          }
      }
  }
}
@media(max-width:480px){
  #ordering{
      .container{
          .wrapper{
              .left-block{
                  .your-data, .delivary, .payment{
                    .title{
                        padding: 13px 14px 13px 14px;
                    }
                    .data, .radio-btns{
                        padding: 13px 14px 13px 14px;
                    }
                    .radio-btns{
                        .radio-btn{
                          div{
                            .secession{
                              padding: 11px 2px;
                            }
                          }
                        }
                    }
                  }
              }
          }
      }
  }
}

@media(max-width:375px){
  #ordering{
      .container{
          .wrapper{
              .left-block{
                .your-data{
                    .data{
                        .input-field{
                          width: 100%;
                          margin: 0;
                        }
                    }
                }
                .delivary{
                    .radio-btns{
                        .radio-btn{
                          width: 100%;
                        }
                    }
                  }
              }
              .right-block{
                .cart{
                  .products{
                    .product{
                      .image-product{
                        margin-right: 10px;
                      }
                    }
                  }
                }
              }
          }
      }
  }
}
